* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 6.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-family: "Open Sans", sans-serif;
}
main {
  width: 100rem;
  text-align: center;
  padding: 1.5rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
.header,
.difficulty-buttons,
.box-size-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.difficulty-buttons,
.box-size-buttons {
  gap: 3rem;
}
.cubes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 6px;
  margin: 2rem 0;
}
.cube {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  border: 2px solid rgb(255, 0, 0);
  transition: all 0.3s;
  cursor: pointer;
}
.cube:hover {
  background-color: rgb(245, 245, 245);
}
.cube.active:hover {
  background-color: rgb(226, 0, 0);
}
.active {
  color: #fff;
  background-color: rgb(255, 0, 0);
  border: none;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: 1.8rem 3.6rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  transition: all 0.3s;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 2px solid rgb(255, 0, 0);
}
.btn:hover {
  transform: translateY(-2%);
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
}
.primary-btn {
  background-color: rgb(255, 0, 0);
  color: #fff;
}
.primary-btn:hover {
  background-color: rgb(226, 0, 0);
}
.secondary-btn {
  background-color: #fff;
  color: #333;
}
.secondary-btn:hover {
  background-color: rgb(245, 245, 245);
}
